*, *::before, *::after {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

/* -- LAYOUT -- */
.container {
    max-width: 550px;
    margin: 0 auto;
	background-color: #fff;
}

.user-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.like-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 140px;
}

.gradient {
	background: linear-gradient(#fff, #eafaf7);
	position: relative;
}

/* SECTION */
.fa-paw {
	background: linear-gradient(45deg, #FA695A, #F83375);
	color: #fff;
	font-size: 22px;
	padding: 12px 35px;
	border-radius: 25% / 50%;
}

.fa-user,
.fa-comment {
	font-size: 32px;
	color: #DCE1E7;
	padding: 10px;
}

.dog-image {
	padding: 0 10px;
	border-radius: 30px / 20px;
}

.dog-description {
	position: absolute;
	bottom: 140px;
	left: 30px;
}

.dog-description-header {
	font-size: 32px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 0;
}

.dog-description-note {
	font-size: 24px;
	color: #fff;
	margin-top: 0;
}

.like-bar--button-dislike,
.like-bar--button-like {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.fa-xmark,
.fa-heart {
	font-size: 40px;
}

.fa-xmark {
	color: red;
}

.fa-heart {
	color: #00D894;
}

.like-bar--button-dislike:hover {
	background-color: #FFE7EF;
	cursor: pointer;
}

.like-bar--button-like:hover {
	background-color: #DBFFF4;
	cursor: pointer;
}

.badge {
	position: absolute;
	top: 60px;
	left: 30px;
	width: 230px;
	transform: rotate(-30deg);
}

.last-page {
	padding: 10px;
	min-height: 745px;
}

.last-page h1 {
	color: #FA695A;
}

.image-grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
}

.image-item {
    max-width: 100%;
}

.new-matches-btn {
	font-family: inherit;
	margin: 20px auto 15px;
	display: block;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	background: linear-gradient(45deg, #FA695A, #F83375);
	color: #fff;
}

.new-matches-btn:hover {
	background: linear-gradient(45deg, #F83375, #FA695A);
	cursor: pointer;
}

.hidden {
	display: none;
}


